/data/raw/
/data/zips/
/data/final/2_traversal/3_modelling/df_linea_final.csv
/data/final/2_traversal/traversal_apilado.dta
data/final/2_trasversal/3_modelling/df_linea_final.csv
data/final/2_trasversal/trasversal_apilado.dta
